
:root {
  --text-primary: #403f3d;
  --main-color: #e1d4c9;
  --text-link-hover: #b0907a;
  --switcher-border: #c1b6ad;
  --switcher-active: #b0907a;
  --text-accent: #b0907a;
  --slider-btns-color: #665F55;
  --pagination-color: #C1B6AD;
  --pagination-color-active: #665F55;

  --transition-primary: all .2s ease;
}

:root.theme__dark {
  --text-primary: #fff;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;

  background-color: var(--main-color);
}

.header, .main, .footer {
  margin: 0 40px;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.primary-btn {
  width: 200px;
  height: 64px;

  font-weight: bold;
  color: var(--text-primary);

  border-radius: 32px;

  background-color: var(--main-color);

  transition: var(--transition-primary);
}

.primary-btn:hover {
  background-color: var(--switcher-active);
  color: var(--main-color);
}

.text-accent {
  font-family: 'Inter Semi Bold Italic', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: var(--text-accent);
}

/* header section */

.header {
  margin-top: 20px;
}

.header__wrapper {
  height: 60px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav__item {
  font-family: 'Inter Semi Bold', sans-serif;
  line-height: 150%;
  font-weight: bold;
}

.nav__link {
  color: var(--text-primary);
  transition: var(--transition-primary);
}

.nav__link:hover {
  color: var(--text-link-hover);
}

.header__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 184px;
  width: 100%;
}

.header__theme {
  width: 88px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border: 2px solid var(--switcher-border);
  border-radius: 22px;

  padding: 3px;
}

.header__theme-item {
  cursor: pointer;

  width: 36px;
  height: 36px;

  border-radius: 18px;

  display: flex;
  
  background-repeat: no-repeat;
  background-position: center center;

  transition: var(--transition-primary);
}

.header__theme-item_light {
  background-image: url('../assets/sun-icon.svg');
}

.header__theme-item_dark {
  background-image: url('../assets/moon-icon.svg');
}

.header__theme_active {
  background-color: var(--switcher-active);
}

.header__theme div:not(.header__theme_active):hover {
  background-color: var(--switcher-active);
}

.burger__btn {
  font-weight: bold;

  color: var(--text-primary);

  display: flex;
  justify-content: space-between;
  gap: 6px;

}

.burger__btn::after {
  content: '';

  width: 20px;
  height: 20px;

  display: flex;

  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../assets/coffee-cup-icon.svg');
}

/* main section */

.main {
  margin-top: 20px;
}

.main__offer {
  height: 644px;

  display: flex;

  background-image: url('../assets/main-preview.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  border-radius: 40px;
}

.offer__wrapper {
  max-width: 530px;
  height: 444px;

  display: flex;
  flex-wrap: wrap;
  
  margin: 100px;
}

.offer__title {
  height: 228px;
  
  font-family: 'Inter Semi Bold', sans-serif;
  font-size: 72px;
  font-weight: bold;
  line-height: 105%;
  color: var(--main-color);
}

.offer__text {
  font-family: 'Inter Regular', sans-serif;
  color: var(--main-color);

  align-self: center;
}

.offer__btn {
  align-self: end;
}


/* main slider section */

.main__slider {
  margin-top: 100px;
}

.slider {
  padding: 0 4px;
}

.slider__title {
  font-family: 'Inter Semi Bold', sans-serif;
  font-size: 60px;
  line-height: 125%;
  color: var(--text-primary);

  text-align: center;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin-top: 40px;
}

.slider__list {
  width: 480px;
}

.slider__btn {
  width: 60px;
  height: 60px;

  border: 2px solid var(--slider-btns-color);
  border-radius: 30px;

  color: var(--slider-btns-color);

  background-image: url('../assets/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;

  transition: var(--transition-primary);
}

.slider__btn:hover {
  filter: invert(65%) sepia(19%) saturate(545%) hue-rotate(339deg) brightness(89%) contrast(85%);
}

.slider__btn_right {
  transform: rotate(180deg);
}

.slider__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.slider__info {
  margin-top: 20px;
  padding: 0 15px;
}

.slider__heading, .slider__price {
  font-family: 'Inter Semi Bold', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 125%;
  color: var(--text-primary);
}

.slider__description {
  margin-top: 16px;

  font-family: 'Inter Regular', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
}

.slider__price {
  display: block;

  margin-top: 16px;
}

.slider__pagination {
  display: flex;
  justify-content: center;
  gap: 12px;

  margin-top: 40px;
}

.pagination__item {
  cursor: pointer;

  display: block;

  width: 40px;
  height: 4px;

  background-color: var(--pagination-color);

  border-radius: 2px;

  transition: var(--transition-primary);
}

.pagination__item_active {
  background-color: var(--pagination-color-active);
}

.pagination__item:not(.pagination__item_active):hover {
  background-color: var(--pagination-color-active);
}
